<!DOCTYPE html>
<html>
<head>
  <title>Test page</title>
</head>
<body>
<h1>Loading this page should increment the tracking count in Redis.</h1>
<img src="<%= imageServerUrl %>/track.jpg">
</body>
</html>